@import url('https://fonts.googleapis.com/css?family=Raleway');


.logo {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 150px;
    width: 150px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px black solid;
    z-index: 5;
/*    animation: logoAnimation 24s linear infinite 0s;*/
    animation: squareAnimation 24s linear infinite 0s;
}

.logo h6 {
    text-align: center;
    font-family: Raleway;
    letter-spacing: 0.2rem;
    margin-bottom: 5px;
    font-size: 8px;
    animation: textAnimation 24s linear infinite 0s;
}

.logo p {
    font-family: Raleway;
    font-size: 8px;
    letter-spacing: 0.03rem;
    animation: textAnimation 24s linear infinite 0s;
}

/*
.square {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 4px black solid;
}
*/

.squareTwo {
    position: absolute;
    height: 150px;
    width: 150px;
    border: 4px black solid;
    transform: rotate(20deg);
    animation: squareAnimation 24s linear infinite 0s;
}

.squareThree {
    position: absolute;
    height: 150px;
    width: 150px;
    border: 4px black solid;
    transform: rotate(45deg);
    animation: squareAnimation 24s linear infinite 0s;
}

/* ANIMATION LOGO */

/*
@keyframes logoAnimation {
    0% {
        opacity: 0;
        top: 50px;
        left: 50px;
    }
    
    5% {
        opacity: 1;
    }
    
    50% {
        top:50px;
        left:50px;
        opacity: 1;
    }
    
    55% {
        opacity: 0;
        top: 50px;
        left: 50px;
    }
    
    56% {
        opacity: 0;
        top: 50px;
        left: 1000px;
    }
    
    57% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        top: 50px;
        left: 1000px;
    }
}*/

@keyframes logoAnimation {
/*
    0% {
        opacity: 0;
    }
    
    5% {
        opacity: 1;
    }
    
*/
    35% {
        color: black;
    }
    
    40% {
        color: white;
    }
    
    70% {
        color: white;
    }
    
    75% {
        color: black;
    }
}

@keyframes textAnimation {
/*
    0% {
        opacity: 0;
    }
    
    5% {
        opacity: 1;
    }
*/
    
    35% {
        color: black;
    }
    
    40% {
        color: white;
    }
    
    70% {
        color: white;
    }
    
    75% {
        color: black;
    }
}

@keyframes squareAnimation {
/*
    0% {
        opacity: 0;
    }
    
    5% {
        opacity: 1;
    }
*/
    
    35% {
        border: 4px black solid;
    }
    
    40% {
        border: 4px white solid;
    }
    
    70% {
        border: 4px white solid;
    }
    
    75% {
        border: 4px black solid;
    }
}
